<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="linksRATP" value="rers/A/stations/22?destination=2;bus/157/stations/ville-faidherbe-rer?destination=pont+de+neuilly;bus/160/stations/nanterre-ville+rer?destination=pont+de+sevres;bus/378/stations/nanterre-ville-rer?destination=les+courtilles+metro;bus/378/stations/jules+quentin?destination=les+courtilles+metro" />
    <add key ="linkWeather" value="current.json?key=316f4c07c1e8434e991144607162910&amp;q=Paris"/>  
  </appSettings>
</configuration>